@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital@1&display=swap");

/**tipo**/
h1 {
  font-family: "Amatic SC", cursive;
  font-size: 60px;
}
p li {
  font-family: "Work Sans", sans-serif;
}
a {
  color: white;
}
/**le header**/
.header {
  display: flex;
  height: 600px;
  background-image: url(./img/pyramides.jpeg);
  background-position: center;
  background-size: cover;
  width: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/**destination**/
.box_destination {
  display: flex;
  align-items: center;
}
.testcolumn {
  flex-direction: column;
  margin-left: 100px;
  margin-right: 10px;
}

/**formules**/
.titreFormules {
  text-align: center;
}
.alignBox {
  display: flex;
  justify-content: space-around;
}
.boxFormules {
  border: 1px solid darksalmon;
  padding: 20px;
  width: 400px;
  min-width: 250px;
  height: auto;
}
